<html>
        <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <title>Yustynn's Site</title>
          <link rel='stylesheet' href='/css/styles.css' />
          <link rel="shortcut icon" type="image/png"  href="/public/images/favicon.png" />
          <link rel='stylesheet' href='/public/libs/highlightjs/default.css' />
          <script src='/public/libs/highlightjs/highlight.pack.js'></script>
          <script>hljs.initHighlightingOnLoad();</script>
        </head>
        <body class="{{page.layout}} {{page.title}}">

        <div class='content'>

