*
  font-family: Quattrocento

body
  display: flex
  flex-direction: column
  flex: 1
  margin: 30px auto 0 
  max-width: 1280px
  padding-bottom: 50px
  padding: 0 150px
  position: relative

h1, h2, h3, h4, h5, h6
  font-family: Oxygen
  margin: 0

  *
    font-family: Oxygen

h1
  font-size: 60px

ul
  list-style: square
  padding-left: 20px

article
  padding-bottom: 15px

a
  text-decoration: none

main
  display: flex
  flex-direction: column

hr
  align-self: center
  border-width: 0.5px
  margin: 20px 0
  width: 80%

.row
  display: flex
  flex-direction: row

.full
  display: flex
  flex: 1

.content
  display: flex
  flex-direction: column
  flex: 1 0 auto
  margin-bottom: 50px

.grey
  color: #676767

.caption
  font-size: 11px
  text-align: center

.center-children
  display: flex
  align-items: center
  justify-content: center

.center
  align-self: center
  justify-self: center

.col
  flex-direction: column

.equal-children > *
  flex: 1

ul.unstyled
  list-style: none
  padding: 0
  
@media screen and (max-width: 540px)
  body
    padding: 0 30px
    padding-bottom: 30px

  h1
    font-size: 48px

  .row
    flex-direction: column
