*
  font-family: Quattrocento

body
  display: flex
  flex-direction: column
  flex: 1
  margin: 30px auto 0 auto
  max-width: 1280px
  padding-bottom: 50px
  padding: 0 150px
  position: relative

h1, h2, h3, h4, h5, h6
  font-family: Oxygen
  margin: 0

  *
    font-family: Oxygen

h1
  font-size: 60px

ul
  list-style: square
  padding-left: 20px

article
  padding-bottom: 15px

a
  text-decoration: none

.row
  display: flex
  flex-direction: row

//.col
  //display: flex
  //flex-direction: column

.full
  display: flex
  flex: 1

.content
  flex: 1 0 auto

.grey
  color: #676767

.main
  display: flex
  flex-direction: column

.caption
  font-size: 11px
  text-align: center

.equal-children > *
  flex: 1

ul.unstyled
  list-style: none
  padding: 0
  
@media screen and (max-width: 540px)
  body
    padding: 0 30px
    padding-bottom: 30px

  h1
    font-size: 48px

  .row
    flex-direction: column
