.projects
  .projects-list li
    padding-bottom: 20px

  .project-title
    font-weight: bold
    text-transform: lowercase

  .tags
    padding-left: 20px
    font-style: italic

  .screenshot
    max-width: 300px

.links li
  padding-right: 20px


